/* RichTextEditor.css */

/* Increase font size of the editor content */
.ql-editor {
    font-size: 16px; 
  }
  
  /* change toolbar button size */
  .ql-toolbar button {
    font-size: 30px; 
    padding: 10px;  
  }
  
  /* Customize the toolbar icon size */
  .ql-toolbar .ql-stroke {
    stroke-width: 2px; 
  }
  
  .ql-toolbar .ql-fill {
    fill-opacity: 1; 
  }
  
  /* Adjust the height and width of the editor container */
  .ql-container {
    height: 100%; 
    width: 100%;
  }
  
  /* Adjust the toolbar and editor container padding */
  .ql-toolbar, .ql-container {
    padding: 10px; 
  }
  
